<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <!-- display all details of post -->
    <h2>{{post.title}}</h2>
    <p>{{post.author}}</p>
    <p>{{post.journal}}</p>
    <p>{{post.year}}</p>
    <p>{{post.number_of_citations}}</p>
    <a href={{post.instructions}}>Link to instructions</a><br>
    <a href={{post.code}}>Link to code</a><br>
    <a href={{post.data}}>Link to data</a><br>
    <p>{{post.category}}</p>
    <p>{{post.sub_category}}</p>
    <p>{{post.customized_tag}}</p>

    
</body>
</html>